/* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gcash reference number</title>
    <link rel="stylesheet" href="../css/CHECKOUTGCASHREFERENCENUMBER.css">
    <link rel="stylesheet" href="../css/BASE.css">
</head>
<body>
    <header>
        <img src="../../media/wallinkRound.png" alt="Wallink logo" id="logo">
        <h2><a href="store.html" style="text-decoration: none; color: black;">WALLINK</a></h2>
    </header>
    <div class="container">
        <div class="content-override">
            <h3>Upload the Gcash receipt</h3>
            <div class="file-input-container">
                <label for="fileInput" class="file-input-label">Choose File</label>
                <input type="file" id="fileInput" accept="image/*">
                <img src="" alt="" id="previewImage">
                <span class="file-name" id="fileName">No file chosen</span>
                
                <label for="gcashReferenceNumber">Gcash Reference Number</label>
                <input type="text" id="gcashReferenceNumber" placeholder="Gcash Reference Number">

                <button id="nextButton">Done?</button>
            </div>
            
        </div>
    </div>

    <script src="../js/CHECKOUTGCASHREFERENCENUMBER.js"></script>
</body>
</html> */


.file-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

#fileInput {
    display: none;
}

.file-input-label {
    padding: 12px 50px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

.file-input-label:hover {
    background-color: #0056b3;
}

#previewImage {
    width: 200px;
    height: 200px;
    margin: 20px 0 10px 0;
}

.file-name {
    /* margin-top: 10px; */
    font-size: 14px;
    color: #333;
}

#qrCode {
    width: 200px;
    height: 200px;
    margin: 20px 0;
}

#nextButton {
    width: 100%;
    padding: 12px 50px;
    margin-top: 70px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

#nextButton:hover {
    background-color: #000;
}

label {
    margin-top: 30px;
    font-size: 16px;
    color: #333;
}

#gcashReferenceNumber {
    width: 100%;
    padding: 12px 10px;
    margin-top: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
}

